---
// Component Imports
import Tour from '../components/Tour.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<style>
    header, main {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 70ch;
    }
</style>

<BaseLayout>
    <header>
        <div>
            <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
            <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
        </div>
    </header>
    <main>
        <h2>Learn Astro without knowing React etc.</h2>
        <p>This site is set up to be Step 0 for people who want to learn Astro.</p>
        <p>Of course, the <a href="https://docs.astro.build/">Astro docs</a> offer plenty of information about the detailed workings of this cutting-edge static site machine, but as with any docs they have to assume readers are coming from some kind of background knowledge.</p>
        <p>So what previous knowledge do you need to make use of this tutorial website? You need to know a bit of HTML and CSS and enough JavaScript to be able to create variables. That should be enough!</p>

    </main>
       
</BaseLayout>
