---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
    main {
        min-height: 100vh;
        max-width: 70ch;
    }

    h1, h2 {
        margin: 0.8em 0;
    }
</style>

<BaseLayout>
    <main>
        <h1>Astro Tutorials</h1>
        <article class="intro">
            <Markdown>
            ## Introduction
            On this page you will find at least one tutorial to help you get started with Astro. More will be added over time.

            First we will focus on setup and practice some general concepts that are common in component-based frameworks.
            </Markdown>
        </article>
        <article>

        </article>
    </main>
</BaseLayout>