---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
    main {
        min-height: 100vh;
        max-width: 70ch;
    }

    h1, h2 {
        margin: 0.8em 0;
    }
</style>

<BaseLayout>
    <main>
        <h1>Astro Tutorials</h1>
        <article class="intro">
            <Markdown>
            ## Introduction
            On this page you will find at least one tutorial to help you get started with Astro. More will be added over time.

            First we will focus on setup and practice some general concepts that are common in component-based frameworks.
            </Markdown>
        </article>
        <article>
            <Markdown>
            ## Set up an Astro project

            First create a new directory for your project—this will be the root directory so you should name it something sensible like the name of your project. You will need a bash shell or similar working in this directory. Example below (after this we will indicate bash commands just using the command prompt `$`, which you obviously don't type)

            ```shell-session
            ~ $ mkdir my-project
            ~ $ cd my-project
            my-project $
            ```

            Next we will start the Astro install wizard as described on the [Astro docs](https://docs.astro.build/installation), where they also give more detailed opetions. We just want the simple version, so in your terminal window use the following command and then read the output:

            `$ npm init astro`

            You should be told that an instance of Astro is being built for you, and asked to pick a starter template and a framework. We want to pick the Starter Kit (Generic) option to generate the minimum of starter code. We do not want to select any framework (just leave them all unselected and press enter).

            ![Screen capture of setup](/assets/setup.png)

            Once your Astro project is initialised, you need to install the dependencies by running

            `$ npm install`

            After that has finished you can open your project in your favourite code editor and check out the files and directories you've been given. There is a more in-depth explanation of all these in the [Basics section of the Astro docs](https://docs.astro.build/core-concepts/project-structure).
            </Markdown>
        </article>
    </main>
</BaseLayout>