---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
    main {
        min-height: 100vh;
        max-width: 70ch;
    }

    h1, h2 {
        margin: 0.8em 0;
    }
</style>

<BaseLayout>
    <main>
        <h1>Astro Tutorials</h1>
        <article class="intro">
            <Markdown>
            ## Introduction
            On this page you will find at least one tutorial to help you get started with Astro. More will be added over time.

            First we will focus on setup and practice some general concepts that are common in component-based frameworks.
            </Markdown>
        </article>
        <article>
            <Markdown>
            ## Set up an Astro project

            First create a new directory for your project—this will be the root directory so you should name it something sensible like the name of your project. You will need a bash shell or similar working in this directory. Example below (after this we will indicate bash commands just using the command prompt `$`, which you obviously don't type)

            ```
            ~ $ mkdir my-project
            ~ $ cd my-project
            my-project $
            ```

            Next we will start the Astro install wizard as described on the [Astro docs](https://docs.astro.build/installation), where they also give more detailed opetions. We just want the simple version, so in your terminal window use the following command and then read the output:

            `$ npm init astro`

            You should be told that an instance of Astro is being built for you, and asked to pick a starter template and a framework. We want to pick the Starter Kit (Generic) option to generate the minimum of starter code. We do not want to select any framework (just leave them all unselected and press enter).

            ![Screen capture of setup](/assets/setup.png)

            Once your Astro project is initialised, you need to install the dependencies by running

            `$ npm install`

            After that has finished you can open your project in your favourite code editor and check out the files and directories you've been given. There is a more in-depth explanation of all these in the [Basics section of the Astro docs](https://docs.astro.build/core-concepts/project-structure).

            Now run `$ npm start` and [visit your site](http://localhost:3000/) in a browser to see what you've got. 

            ## Modularity

            One of the big advantages of using a static site generator (SSG) is that, unlike using plain HTML, you can make your code DRY and modular. This means you can reuse common aspects across multiple pages, e.g. navigation, without copy-paste and unmaintainable code.

            You can already see this in action in the starter code in `src/pages/index.astro` where there is an import at the top of the file (in the [front matter](https://docs.astro.build/core-concepts/astro-components#frontmatter-script)) and further down in the markup there is a custom tag `<Tour />`. All that's doing is grabbing the contents of the file being imported at the top, and sticking it in where that tag is. That's called a [component](https://docs.astro.build/core-concepts/astro-components) and we can do pretty much anything we like with that system.

            ### Layouts

            One aspect that most SSGs have in common is the ability to create templates for the various kinds of page in your site. That way you can reuse all the surrounding stuff and just add different content each time. They're usually called page layouts, and we're going to make a default one for our site now.

            Create a `layouts` directory inside your `src` directory and make a file in there called `BaseLayout.astro`. So now you should have:

            `src/layouts/BaseLayout.astro`

            Make sure you observe case sensitivity as it matters in an Astro project's file names.

            In that new BaseLayout file, create a normal HTML page with all the usual parts, including the doctype, html tags, head and body. In the head section make sure you have all the modern meta tags, the title tag and a stylesheet link (which you can borrow from index.astro). In the body section add in a nav section with a couple of placeholder linnks for good measure.

            Now add front matter to your file to make it a proper Astro file. That means adding the following right at the top, above the doctype:

            ```
            ---

            ---

            ```

            That's three hyphens (dashes) followed by a blank line followed by three more hyphens and another blank line.

            Ok, we have a layout that we can reuse on multiple pages. But how do we get the content in there?

            First, we indicate where the content will be inserted uing the `<slot />` tag. Just bung it in the body, after the nav.

            Next, we need to make a content page of course, and we will tell it to use our nifty new layout. Create a new file for the about page, in the directory structure as follows:

            `src/pages/about.astro`

            Give it front matter and tell it to use our base layout at the very top of the file like this:
            
            ```js
            ---
            import BaseLayout from '../layouts/BaseLayout.astro';
            ---

            ```

            One more step: you need to wrap your content in `<BaseLayout></BaseLayout>` tags. So your final about page file should have front matter at the top to import the layout, then after the front matter comes the opening base layout tag, then your choice of plain old HTML content, then the closing base layout tag and that's it!

            Check in your terminal to see that the server is still running (if not, run `$ npm start` again) and visit [http://localhost:3000/about](http://localhost:3000/about) to check that it's all working.

            > The styling is likely to be a bit odd because of the stylesheet that came with your Starter Kit (Generic) but you should see your nav and your content and if you inspect the page you should also see the full page structure brought in from the layout file.

            ### Variables

            One thing we might want to do is allow each of our pages to have their own title in the browser tab. But how do we do that when our head section is brought in from the layout file?

            Each of our content files can save it's title in a variable and then pass it as a property to the layout file. This is shortened to [props](https://docs.astro.build/core-concepts/astro-components#component-props) and is a common feature of component-based frameworks. It means we can reuse a bit of modular code (a [component](https://docs.astro.build/core-concepts/astro-components)) but change specific aspects each time.

            First, your layout component needs to know that it can accept a title prop to be passed to it. This is defined in the front matter in `BaseLayout.astro` like so:

            ```js
            ---
            const { title } = Astro.props;
            ---
            ```

            What this says to our layout is that there will be a variable available called `title` and its contents will come from an attribute set whenever the `<BaseLayout>` tag is used.

            Find the title tag in the head section of your base layout and replace the contents with the variable like so:

            ```js
            <title>{ title }</title>
            ```

            Now go to your about page and find the base layout tags. Pass in the prop (add in an attribute) like so:

            ```js
            <BaseLayout title="My About Page">
                (Content here)
            </BaseLayout>
            ```

            Note that the custom attribute (the prop) that we added to our base layout tag is called `title` because that's what we told the layout file to expect.
            </Markdown>
        </article>
    </main>
</BaseLayout>