---

---

<style>
    nav {
        display: flex;
        gap: 1em;
    }
</style>

<nav aria-label=“Main menu”>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/tutorials">Tutorials</a>
</nav>